@import "general";

@mixin whitebox {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: #fff 0px 0px 5px;
  border: 1px solid #a1a1a1;

  form {
    margin: 10px 20px 0 0;

    .control-label {
      width: 80px !important;
      font-size: 16px !important;
    }

    .controls {
      margin-left: 100px !important;
    }
  }
}

body {
  background-image: url(denim.png);
  overflow: hidden;
}

#wrapper_login {
  margin: 0 auto;
  overflow: visible;
  text-align: center;
  width: 960px;
}

#wrapper_login_logo {
  margin: 0 auto;
  overflow: visible;
  text-align: center;
  width: 400px;

  a {
    margin-bottom: 10px;
  }
}

.inreply_logo_login {
  background: url(logo.png) -12px 0;
  display: block;
  height: 70px;
  text-indent: -9999px;
  width: 200px;
  float: left;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 120px;
}

.login_box {
  margin: 0 auto;
  width: 420px;
  position: relative;
  float: left;
  left: 255px;
  @include whitebox;
}

.login_right_button {
  margin-top: 5px;
  float: right;
}

.login_left_button {
  margin-top: 5px;
  float: left;
}

.forgot_pass_link {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.forgot_pass_box {
  @include whitebox;
  float: left;
  position: relative;
  left: 2000px;

  form {
    input[type="email"] {
      width: 300px !important;
    }
  }
}


