@import "bootstrap";

/* main */

.main {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  @include border-radius(4px);
  @include box-shadow(0 0 5px #a1a1a1);
}

.box_content {
  background: url(hr1.png) no-repeat 120px 100%;
  padding-top: 15px;
  padding-bottom: 25px;

  &.none {
    background: none;
  }
}

.txt {
  font-size: 16px;
  line-height: 22px;
}

/* home */

.col {
  float: left;
  padding: 0 0 0 55px;
  font-size: 14px;

  &.col1 {
    background: url(number1.jpg) no-repeat 0 0;
    width: 225px;
    margin: 0 27px 0 0;
  }

  &.col2 {
    background: url(number2.jpg) no-repeat 0 0;
    width: 255px;
    margin: 0 27px 0 0;
  }

  &.col3 {
    width: 190px;
    background: url(number3.jpg) no-repeat 0 0;
  }
}

/* pricing */

.pricingPluses {
  float: left;
  width: 650px;
  font-size: 15px;
  line-height: 26px;
  margin-right: 25px;
}

.pricingPlus {
  margin-right: 6px;
  position: relative;
}

.pricingPrice {
  float: left;
  text-align: center;
}

.curr {
  font-size: 38px !important;
}

.price1 {
  font-size: 78px;
  line-height: 70px;
  font-family: sans-serif;
  text-shadow: #555 1px 1px 3px;
}

.price2 {
  text-shadow: #e3e3e3 1px 1px 1px;
  color: #555;
  font-style: italic;
}
