@import 'general.scss';

body {
  background-image: url(snow.png);
  padding-top: 90px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-bottom: 5px;
  line-height: 1;
  img {
    height: 50px;
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar {
  a.menu {
    color: $grayLighter !important;
    font-size: 20px;

    &:hover {
      color: rgb(250, 25, 125) !important;
    }
  }

  a.r {
    color: $inpink !important;
  }

  ul {
    margin-top: 7px !important;
  }
}

.navbar-inner {
  @include gradient-vertical(#4e4e4e, #1b1b1b);
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  .in_reply_logo2 {
    background: url(logo2.png) -4px 0;
    height: 34px;
    width: 84px;
    text-indent: -9999px;
    display: block;
    cursor: pointer;
  }
}

