.registration_form {
  .control-label {
    width: 125px !important;
  }

  .controls {
    input {
      width: 300px !important;
    }
  }
}

.form_separator {
  background: url(hr1.png) no-repeat -120px 100%;
  margin-bottom: 15px;

  h4 {
    display: inline;
    position: relative;
    left: 10px;
  }
}

.add_loc_exp {
  color: #a1a1a1;
  font-size: 12px;
  margin-top: 3px;
}

#location_holder {
  float: right;
  margin-top: 35px;
}

#location_data {
  float: left;
}

.loc_text_gray_span {
  font-size: 13px;
  font-weight: normal;
  line-height: 130%;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 0;
  color: #4e4e4e;
}

#location_table {
  clear: both;
}

.locationTr {
  border: 1px solid #e3e3e3;
  height: 0;
}

.locationTdLeft {
  border: 1px solid #e3e3e3;
  width: 16px;
  padding: 4px;
}

.locationTdRight {
  padding-left: 4px;
}

.locationNameTemplate {
  margin-top: 0 !important;
}

.placeholder {
  opacity: 0.5;
  background-color: rgb(48, 135, 178);
  position: absolute;
}